table {
  background: black;
  border-radius: 10px;
  display: inline-block;
  position: absolute;
}

.count {
  position: absolute;
  top: 55px;
  height: 10px;
}

.tic {
  margin-left: 1px;
  margin-right: 1px;
  padding-left: 10px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

.main {
  position: relative;
  left: 30%;
  bottom: 78px;
  width: 615px;
  height: 715px;
}


.tableOne {
  top: 115px;
}

.tableTwo {
  top: 114px;
  left: 210px;
}

.tableThree {
  top: 114px;
  left: 420px;
}

.tableFour {
  top: 318px;
}

.tableFive {
  top: 318px;
  left: 210px;
}

.tableSix {
  top: 318px;
  left: 420px;
}

.tableSeven {
  top: 518px;
}

.tableEight {
  top: 518px;
  left: 210px;

}

.tableNine {
  top: 518px;
  left: 420px;
}
